/* ALL : OPACITY */
  .fade-enter-active, .fade-leave-active { @apply transition-opacity duration-500 opacity-100;}
  .fade-enter, .fade-leave-to { @apply transition-all duration-500 opacity-0; }
/* ALL : BLUR */
  .blur-enter-active, .blur-leave-active { @apply transition-all duration-500 blur-lg; }
  .blur-enter, .blur-leave-to { @apply transition-all duration-500 blur-0; }
/* MENU - CLIP-PATH : TO RIGHT */
  .menu-enter-active, .menu-leave-active { @apply transition-all duration-500; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  .menu-enter, .menu-leave-to { @apply transition-all duration-500 delay-500; clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); }





/* CLIP-PATH : TO TOP */
  .ot_t-enter-active, .ot_t-leave-active { @apply transition-all duration-500; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  .ot_t-enter, .ot_t-leave-to { @apply transition-all duration-500; clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
/* CLIP-PATH : TO BOT */
  .ot_b-enter-active, .ot_b-leave-active { @apply transition-all duration-500; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  .ot_b-enter, .ot_b-leave-to { @apply transition-all duration-500; clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); }
/* CLIP-PATH : TO LEFT */
  .ot_l-enter-active, .ot_l-leave-active { @apply transition-all duration-500; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  .ot_l-enter, .ot_l-leave-to { @apply transition-all duration-500; clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); }
/* CLIP-PATH : TO RIGHT */
  .ot_r-enter-active, .ot_r-leave-active { @apply transition-all duration-500; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  .ot_r-enter, .ot_r-leave-to { @apply transition-all duration-500; clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }